.header {
  height: 64px;
}

.logo1 {
  height: 100%;
}

.logo1 > img {
  height: 175%;
  margin: -20px;
}

.logo1 > span {
  font-size: xx-large;
  vertical-align: middle;
}

.saparator {
  height: 80%;
}
